{% extends "layouts/layout.html" %}
{% block content %}
  <div class="content">
  {% with messages = get_flashed_messages()  %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
     <br><br>
    <tr><th>Soferi:</th></tr>
    <a href="/adauga" class="button1 btn-secondary"><i class="fa fa-bus"></i>Adauga</a>
    <br><br>
    <table class="list"  id="custom" style="width:100%">
      {% if index %}
        <tr>
          <th>Nume</th>
          <th>Prenume</th>
          <th>Marca</th>
          <th>Actiuni</th>
        </tr>
        {% for row in index %}
        <tr>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td width="156">
          <a href="/edit/{{row[0]}}" class="button1 btn-secondary ">modifica</a>
          <a href="/delete/{{row[0]}}" class="button btn-delete" id="bt1" onclick="delt()" >sterge</a>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

  </div>
{% endblock content %}