<html>
<head>
  {% if title %}
    <title>{{ Grafic }}</title>
  {% else %}
    <title>Transport Persoane Galati</title>
  {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
    <div class="continut">
        <a href="/acasa" target='_new'>Inapoi </a> Acasa
        <h1> Grafic Lunar</h1>
        <table class="list"  id="custom" style="width:100%">
            {% if grafic %}
                <tr>
                    <th>Nume</th>
                    <th>Marca</th>
                    <th>Vehicul</th>
                    <th>Nr-Masina</th>
                    <th>Traseu</th>
                </tr>
                {% for row in grafic %}
                <tr>
                    <td>{{row[2]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</body>
</html>
