{% extends "layouts/layout.html" %}
{% block content %}
  <div class="content">
    {% if sofer %}
      Date sofer:<br><br>
      <table class="list" id="sofer">
        <tr><th>Nume</th><td>{{sofer[1]}}</td></tr>
        <tr><th>Prenume</th><td>{{sofer[2]}}</td></tr>
        <tr><th>Nr- Masinia</th><td>{{sofer[3]}}</td></tr>
        <tr><th>Vehicul</th><td>{{sofer[4]}}</td></tr>
        <tr><th>Traseul</th><td>{{sofer[5]}}</td></tr>
      </table>
    {% else %}
      <div class="error">Sofer inexistent</div><br>
    {% endif %}
  </div>
{% endblock content %}