{% extends "layouts/layout.html" %}
{% block content %}
  <div class="content">
    <br/>
    <form class="example" action="/search/" method="post"style="margin:auto;max-width:300px">
      <input type="text" name="search" placeholder="cauta sofer.." value="{{search}}">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    {% if search%}
    Rezultatele cautarii dupa <i>'{{search}}'</i>:
    {% else %}
      Lista soferilor :
    {% endif %}
    <br><br>
    {% if soferi %}
    <div class="content">
      <table class="list" id="custom">
        <tr><th>Nume</th></tr>
        {% for sid, sname, tid, tname in soferi%}
        <tr>
          <td><a href="../soferi/{{sid}}">{{sname}}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
      <div class="warning">Nu exista rezultate!</div>
    {% endif %}
  </div>
{% endblock content %}